In [1]:
from My_db_connector import My_db_connector

# all methods of My_db_connector
method_list = [method for method in dir(My_db_connector) if method.startswith('__') is False]
print(method_list)

['db_close_connection', 'db_execute_query', 'db_show']

In [2]:
# establish connection with database
connector = My_db_connector("immobilier")

Connection to 'immobilier' database successful

In [3]:
# show all the tables in database
connector.db_show()

       name
0     vente
1  logement

In [4]:
# query example for this request :
# "Différence en pourcentage du prix au mètre carré entre un
#  appartement de 2 pièces et un appartement de 3 pièces."

query = "WITH appart3 AS (SELECT round(SUM(valeur_fonciere)/SUM(surface_carrez_du_1er_lot),2) \
    AS metre2_appart3 \
    FROM vente WHERE type_local like '%Appartement%' AND nombre_pieces_principales = 3), \
    \
    appart2 AS (SELECT round(SUM(valeur_fonciere)/SUM(surface_carrez_du_1er_lot),2) \
    AS metre2_appart2 \
    FROM vente \
    WHERE type_local like '%Appartement%' AND nombre_pieces_principales = 2) \
    \
    SELECT round((1.0 - metre2_appart3 / metre2_appart2)*100,2) \
    AS pourcentage_difference_prix_appartement_2_vs_3 \
    FROM appart2, appart3"

result = connector.db_execute_query(query)
result

   percentage_difference_prix_appartement_2_vs_3
0                                          12.52

In [5]:
# close connection 
connector.db_close_connection()

"Connection to 'immobilier' database closed successful"